<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if title %} {{ title }} {% else %} RescateCR {% endif %}</title>
  </head>
  <body>
    {% extends "base.html" %} {% block content %}
    <section class="hero is-light is-fullheight">
      <div class="hero-body">
        <div class="container columns is-vcentered has-text-centered">
          <div class="column is-desktop">
            <img src={{url_for('static', filename='uploads/site/petting.svg')}}
            alt=""/>
          </div>
          <div class="column is-half-desktop has-text-centered">
            <h2 class="title has-text-danger">Registra tu Refugio</h2>
            <div class="card">
              <form
                class="card-content"
                action="{{url_for('refuge_page.create')}}"
                method="POST"
              >
                <!-- Field -->
                <div class="field">
                  <label class="label">Nombre</label>
                  <div class="control">
                    <input
                      name="name"
                      class="input"
                      type="text"
                      placeholder="Nombre del Refugio"
                    />
                  </div>
                </div>
                <!-- Field -->
                <div class="field">
                  <label class="label">Telefono</label>
                  <div class="control">
                    <input
                      class="input"
                      name="phone"
                      type="text"
                      placeholder="Telefono"
                    />
                  </div>
                </div>
                <!-- Field -->
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control">
                    <input
                      class="input"
                      name="email"
                      type="text"
                      placeholder="Email"
                    />
                  </div>
                </div>
                <!-- Field -->
                <div class="field">
                  <label class="label">Dirección</label>
                  <div class="control">
                    <input
                      class="input"
                      name="address"
                      type="text"
                      placeholder="Direccion"
                    />
                  </div>
                </div>
                <!-- Field -->
                <div class="field">
                  <label class="label">Contraseña</label>
                  <div class="control">
                    <input
                      class="input"
                      name="password"
                      type="password"
                      placeholder="Contraseña"
                    />
                  </div>
                </div>
                <!-- Field -->
                <div class="field">
                  <input
                    class="button is-info"
                    type="submit"
                    value="Registrar"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
  </body>
</html>
